extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') Baer
      ul.nav.navbar-nav
        li.active
          a(href='#home') Home
        li
          a(href='#wander') Wander
        li
          a(href='#contactus') Contact Us
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#basket')
           span.glyphicon.glyphicon-shopping-cart
              |  Basket
        li
          a(href='#logout')
            span.glyphicon.glyphicon-log-in
            |  Logout
  .container(style='background-color:light yellow ; margin-top:30px;')
    .row(style='background-color:red; margin-top:100px;')
      each k in products
        .col-xs-4
          .thumbnail
            img(src=k.image)
            .caption
              h3= k.name
              h4= k.price
              p= k.description
              #addbasket.btn.btn-primary.products(data-id=k, role='button') Add to Basket
    hr        
    .row
      h2 Basket
      .col-xs-3#basket
        br
        button#checkout.btn.btn-success(type='button') Checkout!
    hr
    .row#explore
      h2 Wander
      h4 Browse the globe to see where our sunnies have landed!
        form.form-inline
          .form-group
          label(for='location')=Location
          input#location.form-control(type='text', placeholder='Search for a location')
          button#wander.btn.btn-default(type='submit') Wander
          .col-md4#map
    hr
    .row#contact
      h2 Contact Us
      h3 Please contact our team at 2345@09876@gmail.com for any enquiries 

block scripts
  script(src='/js/map.js')
  script(src='/js/shop.js')
  script(src='../js/markerclusterer.js')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBqbAbuczv0m0tyCWWzQKRueFLylUpFn5U&callback=initMap')
  script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
  script(type='text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqbAbuczv0m0tyCWWzQKRueFLylUpFn5U&libraries=places')
